<%#= turbo_frame_tag "annoucements" do %>
<section class="annoucement-section w-75 mx-auto py-5">
  <div class="annoucement-header my-4">
    <div class="d-flex justify-content-between align-items-center">
      <%= render partial: 'shared/back_button', locals: {link: annoucements_path }%>
      <div class="dropdown">
        <button class="btn " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
              <%= link_to "Edit", edit_annoucement_path(@annoucement), data: { turbo_frame: dom_id(@annoucement)}, class: 'dropdown-item' %>
          </li>
            <li>
            <%= button_to "Destroy", annoucement_path(@annoucement), method: :delete, class: 'dropdown-item' %>
          </li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
    <p class="text-center">🔊ANNOUCEMENT</p>
    <h3 class="text-center fw-bold  mx-auto" style="width: fit-content"><%= @annoucement.title %></h3>
    <div class="annoucement-header-info d-flex justify-content-center align-items-center">
      <div>
        <%= image_tag "" %>
        <span><%= current_user.full_name ? current_user.full_name : current_user.email %></span>
        <small><%= format_time(@annoucement.created_at) %></small>
        <small><%= current_user.department.name %></small>
      </div>
    </div>
  </div>
  
    <%= turbo_frame_tag dom_id(@annoucement) do %>
      <div class="annoucement-body mt-5 px-4">
          <%= @annoucement.content %>
      </div>
    <% end %>

  <div class="comment-container pt-3 pb-5 mt-4">
      <h3 class="p-2">Comments</h3>
      <div id='comment-box' class="">
        <%= render partial: 'comments/comments', locals: {comments: @comments}%>
        <div id="pager" class="text-center mt-4">
            <%= link_to "Load More",
                annoucement_path( @annoucement, page: @next_page),
                class: "btn btn-primary",
                data: { turbo_stream: true }
                %>
        </div>
      </div>
      <div class="comment-form mt-4">
        <%= render 'comments/annoucement_comment_form', annoucement: @annoucement, comment: Comment.new %>
      </div>
  </div>
</section>
<%# end %>
