<div data-popover-target="card" style="width:400px; left:3rem; z-index:999"
 class="position-absolute d-flex flex-column rounded overflow-auto">
    <div class="popover-header bg-primary p-3">
        <span class="text-white "><%= date %></span>
    </div>
    <div class="popover-body bg-slate overflow-auto" style="max-height:300px;">
        <% events.each do |event| %>
            <div class="event-card d-flex align-items-center gap-5 p-4">
                <div class="time d-flex flex-column">
                    <span class="text-secondary"><%= event.start_time.strftime("%-I:%M %p") %></span>
                    <span class="text-secondary"><%=event.end_time.strftime("%-I:%M %p") %></span>
                </div>
                <div class="event-info">
                    <p class="fw-semibold mb-0 text-white"><%= event.title %></p>
                    <small class="text-white"><%= event.location %></small>
                </div>
            </div>
        <% end %>
    </div>
    <div class="bg-dark p-3 d-flex justify-content-start">
        <%= render partial: 'shared/form_modal', locals: {content: 'New Event', target: "#{date}Modal",
        form: render('events/form', event: Event.new, start_date: date)}%>
    </div>
</div>