
<div class="calendar-container" >
  <%= month_calendar(events: @events) do |date, events| %>
      <div class='d-flex flex-column' data-controller="popover" data-popover-url-value="/events/<%= date %>/filter_by_date" >
            <div data-action="click->popover#show mouseleave->popover#hide" class="d-flex flex-column justify-content-center align-items-center position-relative">
                  <%= date.day%>
              <div class="d-flex">
                <% if events.present? %>
                  <% events.each do |event| %>
                    <span class="text-primary fs-4 fw-bold">.</span>
                  <% end %>
                <% else %>
                  <span class="text-primary fs-4 fw-bold" style="opacity: 0; pointer-events:none;">.</span>
                <% end %>
              </div>
            </div>
      </div>
  <% end %>
</div>


<div id="events">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
      <%= link_to "Show this event", event %>
    </p>
  <% end %>
</div>

<%= link_to "New event", new_event_path %>
