<div id="<%= dom_id to_do_list %>">
  <p>
    <strong>To do:</strong>
    <%= to_do_list.to_do_id %>
  </p>

  <p>
    <strong>Creator:</strong>
    <%= to_do_list.creator_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= to_do_list.name %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= to_do_list.due_date %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= to_do_list.note %>
  </p>

</div>
