<div data-controller="to-do-list-edit">
  <div class="d-flex gap-3 align-items-center border-bottom py-2">

    <!-- Edit Button -->
    <%= link_to edit_to_do_to_do_list_path(@to_do, to_do_list),
                  class: 'me-4 pt-2',
                  data: { 
                    turbo_frame: dom_id(to_do_list),
                    action: 'click->to-do-list-edit#edit',
                    to_do_list_edit_target: 'menuIcon'
                  }, method: :get do %>
        <i class="bi bi-list fs-4 text-muted"></i>
    <% end %>

        <!-- Cross Button (initially hidden) -->
      <%= link_to hide_edit_to_do_to_do_list_path(@to_do, to_do_list),
                    class: 'me-4 pt-2 d-none',
                    data: { 
                      turbo_frame:dom_id(to_do_list),
                      action: 'click->to-do-list-edit#edit',
                      to_do_list_edit_target: 'crossIcon'
                    } do %>
          <i class="bi bi-x-circle fs-4 text-muted"></i>
      <% end %>


          <%= form_with(model: [@to_do, to_do_list], url: update_status_to_do_to_do_list_path(@to_do, to_do_list)) do |form| %>
            <div class="form-check mb-0 d-flex align-items-center gap-2">
              <!-- Hidden field to ensure unchecked checkbox sends a value -->
              <%= form.hidden_field :status, value: false %>

              <!-- Checkbox field -->
              <input class="form-check-input fs-4" type="checkbox" 
                    value="true" 
                    name="to_do_list[status]" 
                    data-controller="to-do-list-update-status" 
                    data-action="change->to-do-list-update-status#updateStatus" 
                    id="<%= to_do_list.id %>" <%= to_do_list.status ? 'checked' : '' %>>

              <label class="form-check-label fw-bold" for="<%= to_do_list.id %>">
                <%= to_do_list.name %>
              </label>
            </div>
          <% end %>


      <i class="bi bi-calendar-date fs-4 "></i>
      <% if to_do_list.due_date.present?%>
        <p class="text-muted fw-semibold"><%= format_time(to_do_list.due_date) %></p>
      <% else %>
        <p class="text-muted fw-semibold">No due date</p>
      <% end %>

      <div class="user-icon-container position-relative me-2" style="width:30px; height:30px">
        <% to_do_list.assigned_users.each_with_index do |user, index| %>
          <%= render partial: 'shared/overlay_icon', locals: {user:, index:}%>
        <% end %>
      </div>
      <% if can? :destroy, current_user %>
          <div class="ms-auto">
            <%= button_to "", to_do_to_do_list_path(@to_do, to_do_list), method: :delete, class:'bi bi-trash text-danger fs-4 fw-semibold', style: 'background: inherit'%>
          </div>
      <% end %>
  </div>

    <%= turbo_frame_tag dom_id(to_do_list) do %>
    <% end %>
</div>
