<section class="container-fluid d-flex flex-column align-items-center justify-content-center vh-100 bg-warning">
  <div class="svg-container">

  </div>
  <div class="form-container w-25 bg-white p-5 rounded shadow ">
    <h5 class="fw-bold text-center">Log In To Continue</h5>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mt-4">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field mt-4">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field mt-4">
          <%= f.check_box :remember_me, class:'form-check-input' %>
          <%= f.label :remember_me, class: 'form-check-label' %>
        </div>
      <% end %>

      <div class="actions mt-4">
        <%= f.submit "Log in", class: 'bg-primary rounded w-100 text-center px-3 py-2 fw-bold full-btn' %>
      </div>
    <% end %>
    <div class="d-none">
    <%= render "devise/shared/links" %>
    </div>

  </div>
</section>
