
  <% if @board.lists.empty?%>
    <div class="border-3 border-dashed  border-warning p-4 w-50 d-flex gap-5 bg-warning d-flex flex-column  align-items-center mx-auto mt-4 ">
      <p class="text-muted fw-bold">No lists yet...</p>
      <%= render 'board_modal'%>
    </div>

  <% else %>
    <div class="container position-relative" style="margin-top: 5rem;">
      <div class="list-container row p-2" data-controller="sortable" data-sortable-animation-value="150">
        <% @board.lists.each do |list| %>
          <%= render partial: 'lists/list', locals: {list: list} %>
        <% end %>
        <div class="position-absolute d-flex justify-content-end" style="top: -42px;">
          <%= render 'board_modal'%>
        </div>
      </div>
    </div>
    <%#= render @board %>
  <% end %>

<div class="d-none">
  <%= link_to "Edit this board", edit_board_path(@board) %> |
  <%= link_to "Back to boards", boards_path %>

  <%= button_to "Destroy this board", @board, method: :delete %>
</div>
