<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagementTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>
   <%# message style  %>
      <style>
          <%= ".msg-#{current_user&.id}" %> {
          background-color: #A1EEBD !important;
          padding: 10px;
          }

          <%= ".cont-#{current_user&.id}" %> {
            flex-direction: row-reverse;
            align-self: end;
          }

          <%= ".msg-card-#{current_user&.id}" %> {
            flex-direction: row-reverse;
          }
      </style>
  <body>
    <%= render 'shared/alert' %>
    <% if annoucement_page? %>
        <%= render partial:'layouts/board_header', locals: {title: 'Annoucements', link: annoucements_path, new_link: new_annoucement_path} %>
        <%= yield %>
    <% elsif chat_page? %>
        <%= render partial:'layouts/board_header', locals: {title: "Campfire", link: messages_path, new_link: new_message_path } %>
        <%= yield %>
    <% elsif to_do_page? %>
        <%= render partial:'layouts/board_header', locals: {title: "To Dos", link: to_dos_path, new_link: new_to_do_path } %>
        <%= yield %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
