<!DOCTYPE html>
<html>
  <head>
    <title>ProjectManagementTool</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://unpkg.com/slim-select@latest/dist/slimselect.css" rel="stylesheet"></link>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render 'shared/alert' %>
    <% if annoucement_page? %>
        <%= render 'layouts/board_header' %>
        <%= yield %>
    <% else %>
        <%= yield %>
    <% end %>
  </body>
</html>
